# Environnement virtuel
venv/
.env/

# Données locales (CRITIQUE)
data/*
!data/.gitkeep

# Python
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Scripts locaux
scripts_perso/